/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

.wrapper {
    background-image: linear-gradient(164deg, #ffc047 0%, rgba(255, 77, 0, 0.52) 100%);
}

.content {
    flex: 1 1 auto
}

.container {
    max-width: 1240px;
    margin: 0px auto;
    box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.25);
}

.block {
    padding: 0px 30px;
}

.block-1 {
    box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.02);
    padding: 15px 30px 0 30px;
}

.header__row {

}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 70px;
}

.logo img {
    width: 60px;
}

.site__title {
    margin: 0 10px;
    padding: 0 0 5px 0;
    font-family: Mochiy Pop One;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.navbar {
    margin: 0 0 0 25px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-content: center;
    flex-wrap: wrap;

}

.navbar__item {
    align-self: center;
    padding: 0 5px;

    font-family: Merriweather;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.telephone__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.telephone__icon {
    width: 34px;
    height: 34px;
}

.telephone__icon img {
    width: 34px;
}

.telephone__number {
    font-family: Merriweather;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.greeting__row {
}

.greeting__body {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.greeting__block {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 1 50%;
}

.greeting__title {
}

.title {
    font-family: Merriweather;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.text {
    font-family: SourceSansPro;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
}

.greeting__text-1 {
    font-family: SourceSansPro;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
}

.greeting__text-2 {
    padding: 10px 0;
}
.greeting__btn__container{
    display: flex;
    justify-content: start;
}
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #000;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.greeting-btn{

}

.greeting__image {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;

    flex: 1 1 50%;
}

.greeting__image-main {
    display: inline-block;
    position: relative;
    height: 422px;
    overflow: hidden;
    align-self: center;
}

.greeting__image-main-img {
    position: relative;
    align-self: center;
    object-fit: cover;
    width: auto;
    height: 100%;
    z-index: 1;
}

.greeting__image-background-img {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    background: radial-gradient(
            circle at 50% 50%, #000,
            rgba(255, 255, 255, 0) 55%,
            transparent);
}

.about__row {
    padding: 0 0 50px 0;

}

.about__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.about__image {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;

    flex: 1 1 50%;
}

.about__image-main {
    display: inline-block;
    position: relative;
    height: 422px;
    overflow: hidden;
    align-self: center;
}
.about__image-main img{
    position: relative;
    align-self: center;
    object-fit: cover;
    width: auto;
    height: 100%;
    z-index: 1;
}

.about__image-background {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    align-self: center;
    background: radial-gradient(
            circle at 50% 50%, #000,
            rgba(255, 255, 255, 0) 55%,
            transparent);
    rotate: 180deg;
}
.about__image-foreground {
    position: absolute;
    left: 20px;
    bottom: -35px;
    z-index: 2;
    max-width: 100%;
    align-self: center;
    margin: 0 0 20px 0;
}

.about__block {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.about__title {
    align-self: center;
}

.about__text p{
    margin: 0 0 25px 0;
}
.about__text p:last-child{
}

.about__text-1 {
}

.text {
}

.about__text-2 {
}

.block-2 {
}

.our-pupils__row {
}

.our-pupils__body {
}

.our-pupils__title {
}

.our-pupils__image-container {
}

.image-row {
}

.image-card {
}

.image-card__header {
}

.image-card__footer {
}

.block-3 {
    box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.02);
}

.questions__row {
}

.questions__body {
}

.frequently__questions {
}

.questions_title {
}

.questions__accordion {
}

.question__item {
}

.question__text {
}

.question__answer {
}

.write__us {
}

.write__us-title {
}

.form {
}

.contact__us-form {
}

.first__row-form {
}

.input__item {
}

.input__item-icon {
}

.input__item-input {
}

.second__row-form {
}

.input__item-textarea {
}

.footer {
}

.block-4 {
    box-shadow: 0 4px 100px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.02);
}

.contact__row {
}

.contact__body {
}

.contact__column {
}

.contact__title {
}

.contact__items {
}

.contact__item {
}

.contact__icon {
}

.contact__text {
}

.contact__map {
}